<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>469029098378-ikmpkkbdsd4o108silq1mcrod4a32ap1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.469029098378-ikmpkkbdsd4o108silq1mcrod4a32ap1</string>
	<key>API_KEY</key>
	<string>AIzaSyCQjYVEuwQUWc8_KCFtOnL3YdZQdk_JaJk</string>
	<key>GCM_SENDER_ID</key>
	<string>469029098378</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterfuncionalsito</string>
	<key>PROJECT_ID</key>
	<string>databaseflutter-f4f00</string>
	<key>STORAGE_BUCKET</key>
	<string>databaseflutter-f4f00.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:469029098378:ios:561cb7dc75f47c706c6e73</string>
	<key>DATABASE_URL</key>
	<string>https://databaseflutter-f4f00-default-rtdb.firebaseio.com</string>
</dict>
</plist>